  
.section {
     padding-top: 60px;
     padding-bottom: 60px;
     @media screen and (min-width:1200px) {
        padding-top: 94px;
         padding-bottom: 94px;
     }
}

.section-title {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.feature__title {
    letter-spacing: 0.03em;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    text-transform: uppercase;
    text-align: center;
    
    margin-top: 30px;
    @media screen and (min-width:768px) {
        text-align: start;
    }
}

.description {
    margin-bottom: 30px;

    &:nth-child(4n) {
    margin-bottom: 0;
    }
    
    @media screen and (min-width:768px) {
        &:nth-child(2n) {
            margin-left: 30px;
        }
        &:nth-child(3n) {
            margin-bottom: 0;
        }
    }
    @media screen and (min-width:1200px) {
        width: 270px;
        margin-bottom: 0;
        &:not(:first-child) {
            margin-left: 30px;
        }
    }
}

.feature__text {
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    
    @media screen and (min-width: 768px) {
        max-width: 354px;
    }
    margin-top: 10px;
    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.description-svg {
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-width: 270px;
    height: 120px;
    background-color: #F5F4FA;
    border-radius: 4px;
}

.icon-description {
    width: 70px;
    height: 70px;
}