
.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (max-width:480px) {
        background-color: var(--hero-bg-color);
        width: 100%;
    }
    @media screen and (min-width:481px) {
        background-color: var(--hero-bg-color);
      
    }
    @media screen and (min-width:768px) {
        background-color: var(--hero-bg-color);
        
    }
}

.logo-footer {
    padding: 0;
}

.footer-contacts:not(:last-child) {
    margin-bottom: 9px;
}

.company-logo-white {
    letter-spacing: 0.03em;
    color: var(--hero-text-color);
    font-size: 26px;
}

.address {
    letter-spacing: 0.03em;
    color: var(--hero-text-color);
    font-style: normal;
    font-size: 14px;
    line-height: 1.7;

    margin-top: 20px;
}

.contact {
    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
            color: var(--accent-color);
        }
}

.footer-address {
    color: var(--hero-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover {
            color: var(--accent-color);
        }
}

.container-footer {
    @media screen and (min-width:768px) {
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        flex-wrap: wrap;
    }
    
    @media screen and (min-width:1200px) {
        display: flex;
        align-items: baseline;
        margin: 0 auto;
        padding-left: 15px;
        padding-right: 15px;
    }
}

.footer-logo {
    @media screen and (max-width:767px) {
        text-align: center;
    }
    @media screen and (min-width:768px) {
        text-align: center;
    }
    @media screen and (min-width:1200px) {
        flex-grow: 1;
        text-align: start;
        margin-right: 0;
    }
}

.footer-link {
    @media screen and (max-width:767px) {
        text-align: center;
        margin-top: 60px;
    }
    @media screen and(min-width:1200px) {
        margin-left: 70px;
    }
}

.footer-title {
    color: var(--hero-text-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 20px;
    @media screen and (min-width:768px) {
        text-align: center;
    }
}

.footer-networks {
    display: flex;
    @media screen and (max-width:767px) {
       justify-content: center; 
    }
}

.footer-network-link {

     width: 44px;
     height: 44px;
     border-radius: 50%;
     background-color: rgba(255, 255, 255, 0.1);
     display: flex;
     align-items: center;
     justify-content: center;
     margin-right: 10px;

     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     &:hover,
     &:focus {
         background-color: var(--accent-color);
     }

    }


.footer-social-network {
    fill: var(--hero-text-color);
}

.footer-subject {
    color: var(--hero-text-color);
    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    margin-bottom: 20px;
}

.footer-newsletter {
    margin-top: 60px;
    @media screen and (max-width:767px) {
        text-align: center;
    }
   
    @media screen and (min-width:768px) {
       text-align: center;
    }
    @media screen and (min-width:1200px) {
        margin-left: 93px;
        text-align: start;
        margin-top: 0;
    }
}

.footer-email input {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    background: var(--hero-bg-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    height: 50px;
    width: 100%;

    padding: 15px 16px;
    @media screen and (min-width:768px) {
        width: 450px;
    }
    @media screen and (min-width:1200px) {
        width: 358px;
    }
}

.footer-form {
    @media screen and (min-width:1200px) {
        display: flex;
    }
}

.footer-btn {
    font-weight: bold;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.06em;
    color: var(--hero-text-color);
    background-color: var(--accent-color);
    border: transparent;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    height: 50px;
    min-width: 200px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    
    padding: 0;
    @media screen and (max-width:1199px) {
        margin-top: 20px;
        display: inline-flex;
        
    }
    @media screen and (min-width:1200px) {
        margin-left: 12px;
    }
}

.icon-send {
    margin-left: 10px;
}

