.hero .button {
    display: inline-block;
    min-width: 216px;
    border-radius: 4px;
    padding: 10px 32px;

    color: var(--hero-text-color);
    background-color: var(--hero-button-color);
    font-family: inherit;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    border: none;

}