.team-soc-link {
    width: 44px;
    height: 44px;
    color: #AFB1B8;
    background-color: #FFFFFF;
    border-radius: 50%;
  

    display: flex;
    justify-content: center;
    align-items: center;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    
    &:hover,
    &:focus {
        background-color: #2196F3;
        color: var(--hero-text-color);
      
    }

}

.team-soc-icon {
    width: 20px;
    height: 20px;
    fill: currentColor;
  
}