h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
}
img {
    display: block;
    min-width: 100%;
    height: auto;
}
address {
    font-style: normal;
}
button {
    display: block;
    cursor: pointer;
    border: none;
    border-radius: 4px;
   
}


 
.current {
    color:var(--accent-color);
}


.list {
    list-style: none;
    padding: 0;
    margin: 0;   
}
.link {
    text-decoration: none;
    color: inherit;
}
.section__title {
    margin-bottom: 0;
    margin-top: 0;


    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
}