:root {
    --primary-text-color: #757575; 
    --title-text-color: #212121; 
    --accent-color: #2196F3;
    --hero-text-color: #FFFFFF;
    --logo-color: #000000;
    --primary-bg-color: #F5F5F5;
    --hero-bg-color: #2F303A;
    --secondory-bg-color: #F5F4FA;
    --tel-email-color: rgba(255, 255, 255, 0.6);
    --hero-button-color:#188CE8;
}  